In [3]:
import pandas as pd
import numpy as np

In [4]:
df_rats = pd.read_csv('rat_sightings.csv')

In [6]:
df_rats['Percentile Rank'] = df_rats.Borough.rank(pct = True)

In [7]:
df_rats.head(10)

,Created Date,Complaint Type,Descriptor,Incident Zip,Borough,Percentile Rank
0,5/5/22 15:02,Rodent,Rat Sighting,11216,BROOKLYN,0.346298
1,6/6/22 11:00,Rodent,Rat Sighting,10029,MANHATTAN,0.678174
2,4/26/22 11:44,Rodent,Rat Sighting,10031,MANHATTAN,0.678174
3,5/31/22 4:41,Rodent,Rat Sighting,10031,MANHATTAN,0.678174
4,6/7/22 7:11,Rodent,Rat Sighting,10039,MANHATTAN,0.678174
5,6/9/22 22:32,Rodent,Rat Sighting,10033,MANHATTAN,0.678174
6,6/9/22 17:35,Rodent,Rat Sighting,10031,MANHATTAN,0.678174
7,6/10/22 15:05,Rodent,Rat Sighting,11218,BROOKLYN,0.346298
8,6/29/22 17:04,Rodent,Rat Sighting,11367,QUEENS,0.894879
9,6/30/22 6:26,Rodent,Rat Sighting,10026,MANHATTAN,0.678174

In [9]:
df_rats.to_csv('rats_borough.csv')

In [10]:
df_rats['Borough'].value_counts()

BROOKLYN         9000
MANHATTAN        6555
BRONX            3615
QUEENS           3602
STATEN ISLAND     661
Unspecified         2
Name: Borough, dtype: int64