In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_sleep = pd.read_csv('sleep_cycle_data_1.csv')

df_sleep.head(10)

,Date,Start,End,Sleep Quality,Sleep Quality.1,Regularity,Mood,Heart rate (bpm),Steps,Alarm mode,...,Time in bed (seconds),Time asleep (seconds),Time before sleep (seconds),Window start,Window stop,Did snore,Snore time,Weather temperature (¬∞F),Weather type,Notes
0,6/3/2015,6/3/15 11:49 PM,6/4/15 7:48 AM,94%,0.94,0%,OK,62,4251,Normal,...,28788.2,25237.6,191.9,6/4/15 7:20,6/4/15 7:50,False,0,32.0,No weather,Ate late
1,6/5/2015,6/5/15 12:04 AM,6/5/15 10:01 AM,100%,1.00,0%,OK,64,5660,Normal,...,35821.9,32000.9,238.8,6/5/15 9:30,6/5/15 10:00,False,0,32.0,No weather,Alcohol :Ate late
2,6/7/2015,6/7/15 12:17 AM,6/7/15 7:33 AM,87%,0.87,78%,OK,60,7872,Normal,...,26199.8,23317.8,611.3,6/7/15 7:00,6/7/15 7:30,False,0,32.0,No weather,Alcohol
3,6/8/2015,6/8/15 12:20 AM,6/8/15 8:17 AM,83%,0.83,86%,OK,61,23249,Normal,...,28670.9,25326.0,955.7,6/8/15 7:45,6/8/15 8:15,False,0,32.0,No weather,Worked out
4,6/9/2015,6/9/15 12:30 AM,6/9/15 7:46 AM,70%,0.70,94%,OK,68,2935,Normal,...,26182.5,23215.2,2967.4,6/9/15 7:25,6/9/15 7:45,False,0,32.0,No weather,Stressful day
5,10/2/2015,10/2/15 12:02 AM,10/2/15 7:26 AM,79%,0.79,0%,OK,76,3830,Normal,...,26619.9,24845.2,177.5,10/2/15 7:05,10/2/15 7:25,False,0,51.8,Rain,Alcohol
6,12/23/2015,12/23/15 10:49 PM,12/24/15 4:46 AM,67%,0.67,0%,NaN,0,1894,Normal,...,21419.1,18706.0,2713.1,12/24/15 5:00,12/24/15 5:20,False,0,59.5,Rain,Alcohol :Ate late
7,12/31/2015,12/31/15 8:22 AM,12/31/15 11:28 AM,40%,0.40,0%,NaN,0,53,Normal,...,11131.0,9721.1,74.2,12/31/15 11:25,12/31/15 11:45,False,0,51.8,Partly cloudy,NaN
8,1/24/2016,1/24/16 2:06 AM,1/24/16 10:23 AM,67%,0.67,0%,NaN,0,277,Normal,...,29807.8,25535.3,1192.3,1/24/16 10:10,1/24/16 10:30,False,0,21.9,Sunny,Alcohol :Ate late
9,6/22/2016,6/22/16 12:18 AM,6/22/16 8:00 AM,72%,0.72,0%,NaN,0,8690,Normal,...,27748.7,23771.4,2034.9,6/22/16 8:05,6/22/16 8:25,False,0,70.9,Fair,Alcohol :Stressful day

In [3]:
df_sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1060 non-null   object
 1   Start                        1060 non-null   object
 2   End                          1060 non-null   object
 3   Sleep Quality                1060 non-null   object
 4   Sleep Quality.1              1060 non-null   float64
 5   Regularity                   1060 non-null   object
 6   Mood                         1051 non-null   object
 7   Heart rate (bpm)             1060 non-null   int64
 8   Steps                        1060 non-null   int64
 9   Alarm mode                   1060 non-null   object
 10  Air Pressure (Pa)            1060 non-null   float64
 11  City                         1022 non-null   object
 12  Movements per hour           1060 non-null   float64
 13  Time in bed (seconds)        1060 non-null   float64
 14  Time asleep (seconds)        1060 non-null   float64
 15  Time before sleep (seconds)  1060 non-null   float64
 16  Window start                 1060 non-null   object
 17  Window stop                  1060 non-null   object
 18  Did snore                    1060 non-null   bool
 19  Snore time                   1060 non-null   int64
 20  Weather temperature (¬∞F)    1060 non-null   float64
 21  Weather type                 1060 non-null   object
 22  Notes                        984 non-null    object
dtypes: bool(1), float64(7), int64(3), object(12)
memory usage: 183.3+ KB

In [5]:
df_sleep['Sleep Quality'] = df_sleep['Sleep Quality'].str.rstrip('%').astype('float') / 100.0

In [6]:
df_sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1060 non-null   object
 1   Start                        1060 non-null   object
 2   End                          1060 non-null   object
 3   Sleep Quality                1060 non-null   float64
 4   Sleep Quality.1              1060 non-null   float64
 5   Regularity                   1060 non-null   object
 6   Mood                         1051 non-null   object
 7   Heart rate (bpm)             1060 non-null   int64
 8   Steps                        1060 non-null   int64
 9   Alarm mode                   1060 non-null   object
 10  Air Pressure (Pa)            1060 non-null   float64
 11  City                         1022 non-null   object
 12  Movements per hour           1060 non-null   float64
 13  Time in bed (seconds)        1060 non-null   float64
 14  Time asleep (seconds)        1060 non-null   float64
 15  Time before sleep (seconds)  1060 non-null   float64
 16  Window start                 1060 non-null   object
 17  Window stop                  1060 non-null   object
 18  Did snore                    1060 non-null   bool
 19  Snore time                   1060 non-null   int64
 20  Weather temperature (¬∞F)    1060 non-null   float64
 21  Weather type                 1060 non-null   object
 22  Notes                        984 non-null    object
dtypes: bool(1), float64(8), int64(3), object(11)
memory usage: 183.3+ KB

In [7]:
df_sleep.head(3)

,Date,Start,End,Sleep Quality,Sleep Quality.1,Regularity,Mood,Heart rate (bpm),Steps,Alarm mode,...,Time in bed (seconds),Time asleep (seconds),Time before sleep (seconds),Window start,Window stop,Did snore,Snore time,Weather temperature (¬∞F),Weather type,Notes
0,6/3/2015,6/3/15 11:49 PM,6/4/15 7:48 AM,0.94,0.94,0%,OK,62,4251,Normal,...,28788.2,25237.6,191.9,6/4/15 7:20,6/4/15 7:50,False,0,32.0,No weather,Ate late
1,6/5/2015,6/5/15 12:04 AM,6/5/15 10:01 AM,1.00,1.00,0%,OK,64,5660,Normal,...,35821.9,32000.9,238.8,6/5/15 9:30,6/5/15 10:00,False,0,32.0,No weather,Alcohol :Ate late
2,6/7/2015,6/7/15 12:17 AM,6/7/15 7:33 AM,0.87,0.87,78%,OK,60,7872,Normal,...,26199.8,23317.8,611.3,6/7/15 7:00,6/7/15 7:30,False,0,32.0,No weather,Alcohol

In [9]:
df_sleep.describe()

,Sleep Quality,Heart rate (bpm),Steps,Air Pressure (Pa),Movements per hour,Time in bed (seconds),Time asleep (seconds),Time before sleep (seconds),Snore time,Weather temperature (¬∞F)
count,1060.000000,1060.000000,1060.000000,1060.000000,1060.000000,1060.000000,1060.000000,1060.000000,1060.000000,1060.000000
mean,0.820415,1.048113,5521.809434,100.559623,29.597264,28953.706038,26476.651226,676.951226,2.256604,44.910849
std,0.126888,8.260773,2612.777068,9.435436,18.058431,5159.376136,5119.201553,905.156136,26.400243,15.738781
min,0.090000,0.000000,0.000000,0.000000,0.000000,2708.500000,2690.500000,18.100000,0.000000,3.000000
25%,0.760000,0.000000,3868.250000,101.000000,16.975000,26236.300000,23963.275000,181.875000,0.000000,32.000000
50%,0.840000,0.000000,5433.500000,101.500000,25.550000,28638.850000,26156.750000,208.800000,0.000000,41.400000
75%,0.910000,0.000000,7021.250000,102.100000,38.925000,31517.925000,29010.725000,977.500000,0.000000,57.050000
max,1.000000,84.000000,23249.000000,103.800000,159.500000,94492.200000,92917.300000,7223.900000,606.000000,83.100000

In [10]:
df_sleep.describe().to_csv("sleep_describe.csv", index=True)

In [8]:
df_sleep['Regularity'] = df_sleep['Regularity'].str.rstrip('%').astype('float') / 100.0

In [9]:
df_sleep.head(4)

,Date,Start,End,Sleep Quality,Sleep Quality.1,Regularity,Mood,Heart rate (bpm),Steps,Alarm mode,...,Time in bed (seconds),Time asleep (seconds),Time before sleep (seconds),Window start,Window stop,Did snore,Snore time,Weather temperature (¬∞F),Weather type,Notes
0,6/3/2015,6/3/15 11:49 PM,6/4/15 7:48 AM,0.94,0.94,0.00,OK,62,4251,Normal,...,28788.2,25237.6,191.9,6/4/15 7:20,6/4/15 7:50,False,0,32.0,No weather,Ate late
1,6/5/2015,6/5/15 12:04 AM,6/5/15 10:01 AM,1.00,1.00,0.00,OK,64,5660,Normal,...,35821.9,32000.9,238.8,6/5/15 9:30,6/5/15 10:00,False,0,32.0,No weather,Alcohol :Ate late
2,6/7/2015,6/7/15 12:17 AM,6/7/15 7:33 AM,0.87,0.87,0.78,OK,60,7872,Normal,...,26199.8,23317.8,611.3,6/7/15 7:00,6/7/15 7:30,False,0,32.0,No weather,Alcohol
3,6/8/2015,6/8/15 12:20 AM,6/8/15 8:17 AM,0.83,0.83,0.86,OK,61,23249,Normal,...,28670.9,25326.0,955.7,6/8/15 7:45,6/8/15 8:15,False,0,32.0,No weather,Worked out

In [25]:
df_sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Start                        1060 non-null   object
 1   End                          1060 non-null   object
 2   Sleep Quality                1060 non-null   float64
 3   Regularity                   1060 non-null   float64
 4   Mood                         1051 non-null   object
 5   Heart rate (bpm)             1060 non-null   int64
 6   Steps                        1060 non-null   int64
 7   Alarm mode                   1060 non-null   object
 8   Air Pressure (Pa)            1060 non-null   float64
 9   City                         1022 non-null   object
 10  Movements per hour           1060 non-null   float64
 11  Time in bed (seconds)        1060 non-null   timedelta64[ns]
 12  Time asleep (seconds)        1060 non-null   float64
 13  Time before sleep (seconds)  1060 non-null   float64
 14  Window start                 1060 non-null   object
 15  Window stop                  1060 non-null   object
 16  Did snore                    1060 non-null   bool
 17  Snore time                   1060 non-null   int64
 18  Weather temperature (¬∞F)    1060 non-null   float64
 19  Weather type                 1060 non-null   object
 20  Notes                        984 non-null    object
dtypes: bool(1), float64(7), int64(3), object(9), timedelta64[ns](1)
memory usage: 166.8+ KB

In [17]:
df_sleep['time_in_bed']= pd.to_datetime(df_sleep['Time in bed (seconds)'], unit='h')

In [18]:
df_sleep.head(4)

,Date,Start,End,Sleep Quality,Sleep Quality.1,Regularity,Mood,Heart rate (bpm),Steps,Alarm mode,...,Time asleep (seconds),Time before sleep (seconds),Window start,Window stop,Did snore,Snore time,Weather temperature (¬∞F),Weather type,Notes,time_in_bed
0,6/3/2015,6/3/15 11:49 PM,6/4/15 7:48 AM,0.94,0.94,0.00,OK,62,4251,Normal,...,25237.6,191.9,6/4/15 7:20,6/4/15 7:50,False,0,32.0,No weather,Ate late,1973-04-14 12:12:00
1,6/5/2015,6/5/15 12:04 AM,6/5/15 10:01 AM,1.00,1.00,0.00,OK,64,5660,Normal,...,32000.9,238.8,6/5/15 9:30,6/5/15 10:00,False,0,32.0,No weather,Alcohol :Ate late,1974-02-01 13:54:00
2,6/7/2015,6/7/15 12:17 AM,6/7/15 7:33 AM,0.87,0.87,0.78,OK,60,7872,Normal,...,23317.8,611.3,6/7/15 7:00,6/7/15 7:30,False,0,32.0,No weather,Alcohol,1972-12-27 15:48:00
3,6/8/2015,6/8/15 12:20 AM,6/8/15 8:17 AM,0.83,0.83,0.86,OK,61,23249,Normal,...,25326.0,955.7,6/8/15 7:45,6/8/15 8:15,False,0,32.0,No weather,Worked out,1973-04-09 14:54:00

In [15]:
df_sleep['Time in bed (seconds)']

0       28788.2
1       35821.9
2       26199.8
3       28670.9
4       26182.5
         ...
1055    21819.9
1056    25224.9
1057    14461.2
1058    26611.5
1059    24105.7
Name: Time in bed (seconds), Length: 1060, dtype: float64

In [16]:
df_sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1060 non-null   object
 1   Start                        1060 non-null   object
 2   End                          1060 non-null   object
 3   Sleep Quality                1060 non-null   float64
 4   Sleep Quality.1              1060 non-null   float64
 5   Regularity                   1060 non-null   float64
 6   Mood                         1051 non-null   object
 7   Heart rate (bpm)             1060 non-null   int64
 8   Steps                        1060 non-null   int64
 9   Alarm mode                   1060 non-null   object
 10  Air Pressure (Pa)            1060 non-null   float64
 11  City                         1022 non-null   object
 12  Movements per hour           1060 non-null   float64
 13  Time in bed (seconds)        1060 non-null   float64
 14  Time asleep (seconds)        1060 non-null   float64
 15  Time before sleep (seconds)  1060 non-null   float64
 16  Window start                 1060 non-null   object
 17  Window stop                  1060 non-null   object
 18  Did snore                    1060 non-null   bool
 19  Snore time                   1060 non-null   int64
 20  Weather temperature (¬∞F)    1060 non-null   float64
 21  Weather type                 1060 non-null   object
 22  Notes                        984 non-null    object
 23  time_in_bed                  1060 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(9), int64(3), object(10)
memory usage: 191.6+ KB

In [23]:
df_sleep['time_in_bed']= df_sleep['Time in bed (seconds)'] /3600.00

In [24]:
df_sleep.head(4)

,Date,Start,End,Sleep Quality,Sleep Quality.1,Regularity,Mood,Heart rate (bpm),Steps,Alarm mode,...,Time asleep (seconds),Time before sleep (seconds),Window start,Window stop,Did snore,Snore time,Weather temperature (¬∞F),Weather type,Notes,time_in_bed
0,6/3/2015,6/3/15 11:49 PM,6/4/15 7:48 AM,0.94,0.94,0.00,OK,62,4251,Normal,...,25237.6,191.9,6/4/15 7:20,6/4/15 7:50,False,0,32.0,No weather,Ate late,7.996722
1,6/5/2015,6/5/15 12:04 AM,6/5/15 10:01 AM,1.00,1.00,0.00,OK,64,5660,Normal,...,32000.9,238.8,6/5/15 9:30,6/5/15 10:00,False,0,32.0,No weather,Alcohol :Ate late,9.950528
2,6/7/2015,6/7/15 12:17 AM,6/7/15 7:33 AM,0.87,0.87,0.78,OK,60,7872,Normal,...,23317.8,611.3,6/7/15 7:00,6/7/15 7:30,False,0,32.0,No weather,Alcohol,7.277722
3,6/8/2015,6/8/15 12:20 AM,6/8/15 8:17 AM,0.83,0.83,0.86,OK,61,23249,Normal,...,25326.0,955.7,6/8/15 7:45,6/8/15 8:15,False,0,32.0,No weather,Worked out,7.964139

In [25]:
df_sleep['time_before_sleep']= df_sleep['Time before sleep (seconds)'] /60

In [26]:
df_sleep.head(4)

,Date,Start,End,Sleep Quality,Sleep Quality.1,Regularity,Mood,Heart rate (bpm),Steps,Alarm mode,...,Time before sleep (seconds),Window start,Window stop,Did snore,Snore time,Weather temperature (¬∞F),Weather type,Notes,time_in_bed,time_before_sleep
0,6/3/2015,6/3/15 11:49 PM,6/4/15 7:48 AM,0.94,0.94,0.00,OK,62,4251,Normal,...,191.9,6/4/15 7:20,6/4/15 7:50,False,0,32.0,No weather,Ate late,7.996722,3.198333
1,6/5/2015,6/5/15 12:04 AM,6/5/15 10:01 AM,1.00,1.00,0.00,OK,64,5660,Normal,...,238.8,6/5/15 9:30,6/5/15 10:00,False,0,32.0,No weather,Alcohol :Ate late,9.950528,3.980000
2,6/7/2015,6/7/15 12:17 AM,6/7/15 7:33 AM,0.87,0.87,0.78,OK,60,7872,Normal,...,611.3,6/7/15 7:00,6/7/15 7:30,False,0,32.0,No weather,Alcohol,7.277722,10.188333
3,6/8/2015,6/8/15 12:20 AM,6/8/15 8:17 AM,0.83,0.83,0.86,OK,61,23249,Normal,...,955.7,6/8/15 7:45,6/8/15 8:15,False,0,32.0,No weather,Worked out,7.964139,15.928333

In [27]:
df_sleep['time_asleep']= df_sleep['Time asleep (seconds)'] /3600.00

In [28]:
df_sleep.head(4)

,Date,Start,End,Sleep Quality,Sleep Quality.1,Regularity,Mood,Heart rate (bpm),Steps,Alarm mode,...,Window start,Window stop,Did snore,Snore time,Weather temperature (¬∞F),Weather type,Notes,time_in_bed,time_before_sleep,time_asleep
0,6/3/2015,6/3/15 11:49 PM,6/4/15 7:48 AM,0.94,0.94,0.00,OK,62,4251,Normal,...,6/4/15 7:20,6/4/15 7:50,False,0,32.0,No weather,Ate late,7.996722,3.198333,7.010444
1,6/5/2015,6/5/15 12:04 AM,6/5/15 10:01 AM,1.00,1.00,0.00,OK,64,5660,Normal,...,6/5/15 9:30,6/5/15 10:00,False,0,32.0,No weather,Alcohol :Ate late,9.950528,3.980000,8.889139
2,6/7/2015,6/7/15 12:17 AM,6/7/15 7:33 AM,0.87,0.87,0.78,OK,60,7872,Normal,...,6/7/15 7:00,6/7/15 7:30,False,0,32.0,No weather,Alcohol,7.277722,10.188333,6.477167
3,6/8/2015,6/8/15 12:20 AM,6/8/15 8:17 AM,0.83,0.83,0.86,OK,61,23249,Normal,...,6/8/15 7:45,6/8/15 8:15,False,0,32.0,No weather,Worked out,7.964139,15.928333,7.035000

In [33]:
df_sleep['bedtime'] = pd.to_datetime(df_sleep['Start'])

In [34]:
df_sleep['bedtime']

0      2015-06-03 23:49:00
1      2015-06-05 00:04:00
2      2015-06-07 00:17:00
3      2015-06-08 00:20:00
4      2015-06-09 00:30:00
               ...
1055   2020-03-11 00:53:00
1056   2020-03-12 00:34:00
1057   2020-03-13 03:44:00
1058   2020-03-17 00:14:00
1059   2020-05-28 01:13:00
Name: bedtime, Length: 1060, dtype: datetime64[ns]

In [35]:
df_sleep['wake_time'] = pd.to_datetime(df_sleep['End'])
df_sleep['wake_time']

0      2015-06-04 07:48:00
1      2015-06-05 10:01:00
2      2015-06-07 07:33:00
3      2015-06-08 08:17:00
4      2015-06-09 07:46:00
               ...
1055   2020-03-11 06:57:00
1056   2020-03-12 07:35:00
1057   2020-03-13 07:45:00
1058   2020-03-17 07:38:00
1059   2020-05-28 07:55:00
Name: wake_time, Length: 1060, dtype: datetime64[ns]

In [36]:
df_sleep.to_csv("sleep_data_clean.csv", index=True)